@font-face {
    font-family: "BebasNeueBold";
    src: url("../fonts/BebasNeueBold.ttf");
}
#shadow {
    width: 0; 
	height: 100%; 
	border-top: 25em solid transparent;
	border-bottom: 25em solid transparent;
	
	border-left: 0em solid #36362d;
}
.paddingleft {
    padding-left: 0;   
}
#butonColapse {
    cursor: pointer;
    background-color: #36362d;
    width: 50px;
    height: 45px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 5px;
}
#labelInfo {
    color: white;
    margin: 15%; 
}
#shadow.despliegue {
     -webkit-animation-name: swing; 
    animation-name: swing;    
}
#shadow.undespliegue {
     -webkit-animation-name: unswing; 
    animation-name: unswing;    
}
.enable {
    display: block;
    
}
.disable {
    display: none;
}
/*animation*/
.animated { 
    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
}
@-webkit-keyframes swing { 
    0% {
        border-left: 0em solid #36362d;
          
    }
    60% {
        border-top: 0em solid transparent;
        border-bottom: 25em solid transparent;
        border-left: 0em solid #36362d;
    }
    100% {
        border-top: 0em solid transparent;
        border-bottom: 50em solid transparent;
        border-left: 35em solid #36362d;
    }
    
} 
@keyframes swing { 
    0% {
        border-left: 0em solid #36362d;
          
    }
    60% {
        border-top: 0em solid transparent;
        border-bottom: 25em solid transparent;
        border-left: 0em solid #36362d;
    }
    100% {
        border-top: 0em solid transparent;
        border-bottom: 50em solid transparent;
        border-left: 35em solid #36362d;
    }
} 

@-webkit-keyframes unswing { 
    0% {
        border-top: 0em solid transparent;
        border-bottom: 50em solid transparent;
        border-left: 35em solid #36362d;  
    }
    60% {
        border-top: 0em solid transparent;
        border-bottom: 25em solid transparent;
        border-left: 0em solid #36362d;
    }
    100% {
        border-left: 0em solid #36362d;
    }
    
} 
@keyframes unswing { 
   0% {
        border-top: 0em solid transparent;
        border-bottom: 50em solid transparent;
        border-left: 35em solid #36362d;  
    }
    60% {
        border-top: 0em solid transparent;
        border-bottom: 25em solid transparent;
        border-left: 0em solid #36362d;
    }
    100% {
        border-left: 0em solid #36362d;
    }
} 